@model NL_Net_Salary_Calculator.Models.SalaryCalculator;

<title>NL Net Salary Calculator</title>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div>Base salary per hour: </div> @Html.TextBoxFor(m => m.Salaries.BasePerHourRate)
    <br />
    <div>Base hours: </div> @Html.TextBoxFor(m => m.BaseHours)
    <br />
    <div>Overtime rate: </div> @Html.TextBoxFor(m => m.Salaries.Rates.ElementAt(0).RateMultiplier)
    <br />
    <div>Overtime hours: </div> @Html.TextBoxFor(m => m.OvertimeHours)
    <br />
    <div>Weekend rate: </div> @Html.TextBoxFor(m => m.Salaries.Rates.ElementAt(3).RateMultiplier)
    <br />
    <div>Weekend hours: </div> @Html.TextBoxFor(m => m.WeekendHours)
    <br />
    <div>Holiday rate: </div> @Html.TextBoxFor(m => m.Salaries.Rates.ElementAt(2).RateMultiplier)
    <br />
    <div>Holiday hours: </div> @Html.TextBoxFor(m => m.HolidayHours)
    <br />
    <div>Shift allowance: </div> @Html.TextBoxFor(m => m.Salaries.Rates.ElementAt(1).RateMultiplier)
    <br />
    <div>Shift hours: </div> @Html.TextBoxFor(m => m.ShiftHours)
    <br />
    <div></div>

    <input id="Submit" type="submit" value="submit" />
}

<hr />
<strong>Gross Salary: </strong> @Html.DisplayFor(m => m.Salaries.GrossSalary)
<br />
<strong>Tax: </strong> @Html.DisplayFor(m => m.Salaries.NetSalary)